.menu {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h2 {
    font-size: 1.5rem;
  }

  span {
    padding: 1rem 0;
    font-weight: 900;
    font-size: 2rem;
  }

  .menu-list {
    width: 100%;
    padding: 1rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;

    .menu-block {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      flex-grow: 1;

      img {
        border-radius: 40px;
        width: 100%;
        height: 250px;
      }
      span:nth-of-type(1) {
        color: red;
        padding: 0.25rem;
        font-size: 2rem;
      }
      span:nth-of-type(2) {
        padding: 0.25rem;
        font-size: 1.5rem;
        text-align: center;
      }
    }
  }
}
